[buildout]
extends =
    https://dist.plone.org/release/6.2.0/versions.cfg
    https://dist.plone.org/release/6.2.0/versions-ecosystem.cfg

# enable checkout from git 
# and prevent running plone as root
extensions =
    mr.developer
    buildout.sanitycheck

[buildout]
parts =
    instance
#    i18ndude
    zopepy
#    test
#    repozo
#    backup
#    backupcronjob
    zopescripts

    
auto-checkout =
   medialog.notifications
   medialog.meadows
   medialog.docxtransform
   medialog.docenttheme
   DocentIMS.ActionItems
   collective.sidebar
   collective.collectionfilter
   onlyoffice-plone  

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080

eggs =
    Plone
#    collective.collectionfilter
#    collective.fullcalendar
#    collective.sidebar
    medialog.docxtransform
    python-docx
    medialog.notifications
    DocentIMS.ActionItems
    onlyoffice-plone
    medialog.meadows

versions=versions

sources-dir = src
event-log-max-size = 5 MB
event-log-old-files = 5
access-log-max-size = 20 MB
access-log-old-files = 5

[zopescripts]
# generates the Zope and WSGI specific scripts
recipe = zc.recipe.egg
eggs =
    Zope
    Paste
    Plone


# zopepy commands allows you to execute Python scripts using a PYTHONPATH
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy


# Change to only office version of Wayne   
[sources]
onlyoffice-plone = git https://github.com/DocentIMS/docent-onlyoffice.git
medialog.notifications = git  https://github.com/espenmn/medialog.notifications.git
medialog.meadows = git https://github.com/espenmn/medialog.meadows.git      
medialog.docxtransform = git https://github.com/espenmn/medialog.docxtransform.git
medialog.docenttheme = git https://github.com/espenmn/medialog.docenttheme.git
DocentIMS.ActionItems = fs DocentIMS.ActionItems path=src        
collective.sidebar = git https://github.com/collective/collective.sidebar.git
collective.collectionfilter = git https://github.com/collective/collective.collectionfilter.git

[versions]
z3c.jbot=3.1
z3c-jbot=3.1
